.text-input__input {
  /* Fallback color in case parent didn't define it */
  --bg-color-default: 128, 128, 128;
  --bg-color-internal: var(--bg-color, var(--bg-color-default));
  margin: 0;
  padding: 0;
  overflow: hidden;
  resize: none;
  border-color: rgba(var(--bg-color-internal), 100%);
  white-space: nowrap;
  vertical-align: top;
}

.text-input__input-multiline {
  white-space: normal;
}

.text-input__input:disabled {
  background-color: rgba(var(--bg-color-internal), 25%);
}

.text-input__input:focus {
  /* Visible in the full-colour space */
  box-shadow: 0px 0px 1px 2px rgba(var(--bg-color-internal), 100%);
  /* Visible in Windows high-contrast themes */
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
}

.text-input__label {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
