/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

/* CSS reset */

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.35;
}

input,
button,
textarea {
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style-type: none;
}

/* Global settings */

body {
  font-family: Roboto;
  font-weight: 400;
  color: #222;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.5);
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8);
}
